*{
    box-sizing: border-box;
}
body {
    background-color: gray;
    }

    #mainPage {
        background-color: black;
        border: 1px solid red;
    }
    
    .container {
        background-color: blanchedalmond;
        width: 1000px;
        height: 200px;
        margin: o auto;
    }
    div {
        border: 1px solid black;
    }
    .margin{
        margin: 5px 10px 15px 20px;
    }

    .padding{
        padding: 5px 10px 15px 20px;
    }

    .color-white{
        color: white;
    }